.logo-2-icon {
  position: absolute;
  top: 25px;
  left: 244px;
  border-radius: 94px;
  width: 143px;
  height: 144px;
  object-fit: cover;
}

.footer2-child {
  border: 0;
  outline: 0;
  background-color: var(--color-linen);
  position: absolute;
  top: 52px;
  left: 558px;
  border-radius: 53px;
  width: 710px;
  height: 76px;
}
.subscribe-to-our {
  position: absolute;
  top: 125px;
  left: 771px;
  text-transform: capitalize;
}
.image-12 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 59px;
  left: 1192px;
  width: 53px;
  height: 62px;
  background-image: url(./public/image-12@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.copyright-circular-connect {
  position: absolute;
  top: 192px;
  left: 1001px;
  font-size: 20px;
  text-transform: capitalize;
}
.footer2 {
  position: absolute;
  top: 3072px;
  left: 0;
  background-color: var(--color-steelblue);
  width: 1700px;
  height: 255px;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
}
.follow-us {
  position: absolute;
  top: -3px;
  left: 1059px;
  bottom: 3px;
}
.popular-locations {
  margin: 0;
}
.kolkata {
  margin-bottom: 0;
}
.kolkata-mumbai-chennai-pune {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-21xl);
}
.popular-locations-kolkata-container,
.trending-locations-bhubanehswa-container {
  position: absolute;
  top: 0;
  left: 6px;
  display: inline-block;
  width: 319px;
  height: 271px;
}
.trending-locations-bhubanehswa-container {
  top: -4px;
  left: 340px;
}
.about-us {
  margin: 0;
  white-space: pre-wrap;
}
.about-us-contact-container {
  position: absolute;
  top: -4px;
  left: 668px;
  display: inline-block;
  width: 346px;
  height: 271px;
}
.icon {
  height: 83.33%;
  width: 45.83%;
  top: 8.33%;
  right: 25%;
  bottom: 8.33%;
  left: 29.17%;
  max-width: 100%;
  max-height: 100%;
}
.facebook,
.icon,
.icon1 {
  position: absolute;
  overflow: hidden;
}
.facebook {
  text-decoration: none;
  top: 68px;
  left: 1035px;
  width: 48px;
  height: 48px;
}
.icon1 {
  height: 83.33%;
  width: 83.33%;
  top: 8.33%;
  right: 8.33%;
  bottom: 8.33%;
  left: 8.33%;
  max-width: 100%;
  max-height: 100%;
}
.instagram {
  text-decoration: none;
  top: 72px;
  left: 1096px;
  width: 48px;
  height: 48px;
}
.icon2,
.instagram,
.twitter {
  position: absolute;
  overflow: hidden;
}
.icon2 {
  height: 74.79%;
  width: 91.67%;
  top: 12.5%;
  right: 4.17%;
  bottom: 12.71%;
  left: 4.17%;
  max-width: 100%;
  max-height: 100%;
}
.twitter {
  text-decoration: none;
  top: 68px;
  left: 1168px;
  width: 48px;
  height: 48px;
}
.footer1 {
  position: absolute;
  top: 2759px;
  left: 76px;
  width: 1120px;
  height: 221px;
  font-size: var(--font-size-11xl);
}
.features-child {
  position: absolute;
  top: 61px;
  left: 85px;
  background-color: var(--color-darksalmon);
  width: 1700px;
  height: 1059px;
}
.features-item-child,
.features-item-inner,
.features-item-item {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #e88d67, #824f3a);
  width: 321px;
  height: 339px;
}
.features-item-inner,
.features-item-item {
  left: 811px;
}
.features-item-inner {
  left: 411px;
}
.frame-div {
  position: absolute;
  top: 169px;
  left: calc(50% - 50px);
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.features-inner,
.features-item,
.features-item1 {
  position: absolute;
  top: 173px;
  left: 154px;
  width: 1132px;
  height: 339px;
}
.features-inner,
.features-item1 {
  top: 627px;
  left: 160px;
}
.features-inner {
  top: 12px;
  left: 507px;
  border-radius: 37px;
  background-color: var(--color-linen);
  width: 458px;
  height: 106px;
}
.features-we-offer {
  position: absolute;
  top: 39px;
  left: 535px;
  font-size: var(--font-size-21xl);
  color: var(--color-steelblue);
  text-align: left;
}
.user-registration-and {
  position: absolute;
  top: 223px;
  left: 200px;
  display: inline-block;
  width: 206px;
}
.communication-tools,
.transcation-management {
  position: absolute;
  top: 684px;
  left: 186px;
  display: inline-block;
  width: 241px;
}
.communication-tools {
  top: 685px;
  left: 581px;
  width: 264px;
}
.product-listings,
.rating-and-reviews,
.search-filters {
  position: absolute;
  top: 683px;
  left: 1022px;
  display: inline-block;
  width: 206px;
}
.product-listings,
.search-filters {
  top: 223px;
  left: 623px;
}
.search-filters {
  left: 1027px;
}
.image-6-icon,
.image-7-icon,
.image-8-icon {
  position: absolute;
  top: 380px;
  left: 196px;
  width: 210px;
  height: 211px;
  object-fit: cover;
}
.image-7-icon,
.image-8-icon {
  top: 352px;
  left: 608px;
  width: 237px;
  height: 269px;
}
.image-8-icon {
  top: 362px;
  left: 983px;
  width: 285px;
  height: 217px;
}
.image-10-icon,
.image-11-icon,
.image-9-icon {
  position: absolute;
  top: 846px;
  left: 247px;
  width: 159px;
  height: 169px;
  object-fit: cover;
}
.image-10-icon,
.image-11-icon {
  top: 784px;
  left: 620px;
  width: 239px;
  height: 293px;
}
.image-11-icon {
  top: 863px;
  left: 1018px;
  width: 223px;
  height: 135px;
}
.features {
  position: absolute;
  top: 1646px;
  left: -6px;
  width: 1446px;
  height: 1048px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-16xl);
  color: var(--color-white);
  font-family: var(--font-ibm-plex-sans-hebrew);
}
.card-child {
  position: absolute;
  top: 277px;
  left: 1px;
  background-color: var(--color-steelblue);
  width: 14px;
  height: 174px;
}
.rs {
  top: 300px;
  font-size: var(--font-size-21xl);
  font-family: var(--font-ibm-plex-sans-hebrew);
}
.featured,
.rs,
.yrs-old {
  position: absolute;
  left: 48px;
}
.yrs-old {
  top: 352px;
  font-size: var(--font-size-11xl);
  font-family: var(--font-roboto);
  white-space: pre-wrap;
}
.featured {
  top: 261px;
  color: var(--color-steelblue);
}
.image-4-icon {
  position: absolute;
  top: 0;
  left: 90px;
  border-radius: 25px;
  width: 204px;
  height: 218px;
  object-fit: cover;
}
.guitar {
  top: 387px;
  left: 48px;
}
.card,
.guitar,
.image-1 {
  position: absolute;
}
.card {
  text-decoration: none;
  top: 604px;
  left: 79px;
  border-radius: var(--br-sm);
  background-color: var(--color-peachpuff);
  width: 385px;
  height: 451px;
  color: inherit;
}
.image-1 {
  top: 1px;
  left: 90px;
  border-radius: var(--br-mid);
  width: 204px;
  height: 220px;
}
.wooden {
  position: absolute;
  top: 352px;
  left: 557px;
  white-space: pre-wrap;
}
.featured1 {
  top: 261px;
  font-size: var(--font-size-13xl);
  font-family: var(--font-inter);
  color: var(--color-steelblue);
}
.featured1,
.table,
.yrs-old1 {
  position: absolute;
  left: 48px;
}
.table {
  top: 387px;
  font-size: var(--font-size-13xl);
  font-family: var(--font-inter);
}
.yrs-old1 {
  top: 353px;
  white-space: pre-wrap;
}
.card1 {
  text-decoration: none;
  position: absolute;
  top: 599px;
  left: 509px;
  border-radius: var(--br-sm);
  background-color: var(--color-peachpuff);
  width: 385px;
  height: 451px;
  font-size: var(--font-size-11xl);
  color: inherit;
  font-family: var(--font-roboto);
}
.image-1-icon {
  position: absolute;
  top: 0;
  left: 90px;
  border-radius: var(--br-mid);
  width: 204px;
  height: 220px;
  object-fit: cover;
}
.km {
  position: absolute;
  top: 352px;
  left: 999px;
  white-space: pre-wrap;
}
.card2,
.violin,
.yrs-old2 {
  position: absolute;
  left: 48px;
}
.yrs-old2 {
  top: 352px;
  white-space: pre-wrap;
}
.card2,
.violin {
  top: 382px;
}
.card2 {
  text-decoration: none;
  top: 605px;
  left: 951px;
  border-radius: var(--br-sm);
  background-color: var(--color-peachpuff);
  width: 385px;
  height: 451px;
  font-size: var(--font-size-11xl);
  color: inherit;
  font-family: var(--font-roboto);
}
.featured3 {
  position: absolute;
  top: 261px;
  left: 557px;
  color: var(--color-steelblue);
}
.card3 {
  text-decoration: none;
  position: absolute;
  top: 71px;
  left: 509px;
  border-radius: var(--br-sm);
  background-color: var(--color-peachpuff);
  width: 385px;
  height: 451px;
  color: inherit;
}
.card4,
.rs4,
.rs5 {
  position: absolute;
  top: 300px;
  left: 999px;
}
.card4,
.rs5 {
  left: 48px;
}
.card4 {
  text-decoration: none;
  top: 72px;
  left: 951px;
  border-radius: var(--br-sm);
  background-color: var(--color-peachpuff);
  width: 385px;
  height: 451px;
  font-size: var(--font-size-21xl);
  color: inherit;
  font-family: var(--font-ibm-plex-sans-hebrew);
}
.image-1-icon1 {
  top: 1px;
  left: 90px;
  border-radius: var(--br-mid);
  width: 204px;
  height: 220px;
  object-fit: cover;
}
.card5,
.image-1-icon1,
.km1 {
  position: absolute;
}
.km1 {
  top: 352px;
  left: 50px;
  font-size: var(--font-size-11xl);
  font-family: var(--font-roboto);
  white-space: pre-wrap;
}
.card5 {
  text-decoration: none;
  top: 70px;
  left: 79px;
  border-radius: var(--br-sm);
  background-color: var(--color-peachpuff);
  width: 385px;
  height: 451px;
  color: inherit;
}
.image-2-icon {
  top: 70px;
  left: 597px;
  border-radius: 30px;
  width: 220px;
  height: 223px;
}
.image-2-icon,
.image-3-icon,
.image-5-icon {
  position: absolute;
  object-fit: cover;
}
.image-3-icon {
  top: 72px;
  left: 1009px;
  border-radius: var(--br-2xl);
  width: 271px;
  height: 183px;
}
.image-5-icon {
  top: 599px;
  left: 597px;
  border-radius: 28px;
  width: 225px;
  height: 225px;
}
.cards {
  position: absolute;
  top: 549px;
  left: 18px;
  width: 1383px;
  height: 1126px;
  overflow: hidden;
  font-size: var(--font-size-13xl);
  font-family: var(--font-inter);
}
.cars,
.vehicles {
  position: absolute;
  top: 37px;
  left: 354px;
}
.vehicles {
  left: 629px;
}
.instruments,
.scooters {
  position: absolute;
  top: 36px;
  left: 467px;
}
.instruments {
  left: 784px;
}
.motorcycle,
.phones,
.varieties {
  position: absolute;
  top: 37px;
  left: 222px;
}
.motorcycle,
.varieties {
  left: 32px;
}
.varieties {
  top: 0;
  left: 322px;
  background-color: var(--color-darksalmon);
  width: 120rem;
  height: 108px;
}
.categories {
  width: 100%;
}
.categories,
.categories-dropdown {
  position: absolute;
  left: 0;
  height: 108px;
  font-family: var(--font-inria-serif);
}
.categories-dropdown {
  top: 0;
  background-color: var(--color-darksalmon);
  border: 0;
  width: 306px;
  padding: 39px 37px;
  box-sizing: border-box;
  font-weight: 700;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
}
.categories {
  top: 459px;
  width: 1440px;
  overflow: hidden;
}
.desktop-1-child {
  position: absolute;
  top: -128px;
  left: -912px;
  background: linear-gradient(180deg, #e88d67, #824f3a);
  width: 3096px;
  height: 587px;
}
.icon3 {
  position: absolute;
  height: 75.15%;
  width: 75%;
  top: 12.42%;
  right: 12.33%;
  bottom: 12.42%;
  left: 12.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.find-cars-mobile,
.search {
  border: 0;
  background-color: transparent;
  position: absolute;
}
.search {
  cursor: pointer;
  padding: 0;
  top: 22px;
  left: 818px;
  width: 30px;
  height: 33px;
  overflow: hidden;
}
.find-cars-mobile {
  outline: 0;
  font-family: var(--font-inria-serif);
  font-size: var(--font-size-6xl);
  top: 20px;
  left: 48px;
  font-weight: 700;
  color: var(--color-black);
  text-align: left;
}
.search-bar {
  position: absolute;
  top: 282px;
  left: 383px;
  border-radius: var(--br-2xl);
  background-color: var(--color-floralwhite-100);
  width: 878px;
  height: 75px;
}
.herosection {
  position: absolute;
  top: 0;
  left: -84px;
  width: 100%;
  height: 489px;
  overflow: hidden;
}
.logo-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 66px;
  width: 86px;
  height: 86px;
  object-fit: cover;
}
.location,
.login {
  position: absolute;
  font-size: var(--font-size-6xl);
  font-family: var(--font-inria-serif);
  color: var(--color-black);
}
.location {
  top: 14px;
  left: 109px;
  border-radius: var(--br-2xl);
  background-color: var(--color-floralwhite-100);
  border: 0;
  width: 412px;
  height: 66px;
  padding: 16px 136px 20px;
  box-sizing: border-box;
  font-weight: 700;
}
.login {
  top: 22px;
  left: 62px;
  text-align: left;
}
.login-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-floralwhite-100);
  position: absolute;
  top: 5px;
  left: 729px;
  border-radius: var(--br-41xl);
  width: 183px;
  height: 73px;
}
.sell,
.sell1 {
  position: absolute;
  top: 23px;
  left: 1309px;
  font-size: var(--font-size-6xl);
  font-family: var(--font-inria-serif);
  color: var(--color-black);
  text-align: left;
}
.sell1 {
  top: 22px;
  left: 60px;
}
.sell-button {
  cursor: pointer;
  border: 2px solid var(--color-black);
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 5px;
  left: 923px;
  border-radius: var(--br-41xl);
  box-sizing: border-box;
  width: 183px;
  height: 73px;
}
.english {
  position: absolute;
  top: 0;
  left: 0;
}
.language,
.navbar {
  position: absolute;
  top: 32px;
  left: 551px;
  width: 104px;
  height: 30px;
}
.navbar {
  top: 33px;
  left: 157px;
  width: 1106px;
  height: 99px;
  overflow: hidden;
  font-family: var(--font-inria-serif);
}
.desktop-1 {
  width: 100%;
  position: relative;
  background-color: #f3f7ec;
  height: 3300px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
  font-family: var(--font-halant);
}
